numpy==2.0.0
pandas==2.2.2
matplotlib==3.9.0
xlrd==2.0.1
openpyxl==3.1.5
kneed==0.8.5
plotly==5.23.0
scipy==1.13.1
seaborn==0.13.2
statsmodels==0.14.2
scikit-learn==1.5.1
nbformat==5.10.4
nbconvert==7.16.4
nbclient==0.10.0
ipykernel==6.29.5
psycopg2==2.9.9
SQLAlchemy==2.0.32